= form.text_field :email, :required => true
= form.password_field :password, :required => '* required; unless using OpenID'
= form.password_field :password_confirmation
= form.text_field :openid_identifier, :label => image_tag('openid.png', :alt => 'OpenID')
