%h2 Change your password

- form_for @user, :url => password_path, :method => :put do |f|
  = f.error_messages
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.submit "Update password and log in"
