%h2 Forgot your password?

- form_for @user, :url => passwords_path, :html => { :id => 'new_password' } do |f|
  = f.text_field :email
  = f.submit "Send instructions"
%ul#hints
  %li Submit your email to receive instructions to reset your password
  %li Not getting the email? Be sure to check your spam filters
